[Desktop Entry]
Encoding=UTF-8
Name=Brighty
Comment=Control HDMI Monitor Brightness
Icon=im-jabber
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Misagh Lotfi
X-KDE-PluginInfo-Email=misaghlb@live.com
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=org.kde.brighty
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/Misaghlb/plasma-applet-brighty
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Category=Graphics

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=